{{> header }}

    
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Hello</h1>

        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam fugit voluptatem minima libero deleniti dolor magni, aliquid pariatur quasi consequatur deserunt ducimus reprehenderit quibusdam sint autem ratione modi, nam ut.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/img.jpg" class="img-thumbnail" alt="img">
    </div>

</div>

{{> footer }}